/* @import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic); */
@import "tailwindcss";
:root {
  --form-background: #7277d8;
  --button-background: #080e73;
  --button-hover-background: #060a50;
}

[data-scope="slider"][data-part="root"] {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Lemon";
  src: url("/fonts/Lemon-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-lemon {
  font-family: "Lemon", cursive;
}

.bg{ 
  background-image: url(./shared/assets/backgorund.png);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
  resize: none;

}